@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif; /* Changed font to Roboto */
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #ffffff, #0078D7);
    color: #333;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-top: 5px solid #0078D7;
    backdrop-filter: blur(30px); 
}

h1 {
    text-align: center;
    color: #0078D7;
    font-size: 26px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #0056a1;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #d0d7e2;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f9faff;
    color: #333;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="file"]:focus {
    border-color: #0078D7;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #0078D7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056a1;
}

img {
    border-radius: 100%; 
    border: 2.5px solid #0078D7; /* Increased border width */
    padding: 10px; 
}

body {
    background-image: url('ico/Fond.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
